{% extends 'base.html' %}

{% block content %}
 	<body>
     {{ offer_id }}
 		<div class="profile">
 			<div style="grid-column: 1; grid-row: 1"><a href="/"><p style="color: #5e72e4">Back</p></a></div>
 			<div style="grid-column: 2; grid-row: 1"><p>My Profile</p></div>
 			<div class="info"><p>Name:<p style="color: #5e72e4;">user1</p></p>
 			<p>e-mail:<p style="color: #5e72e4;">123@gmail.com</p></p>
 			<p>Phone<p style="color: #5e72e4;">+38012312312</p></p>
 			<p>Adress<p style="color: #5e72e4;">Street</p></p></div>
 		</div>
{% endblock %}